<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uplb.cas.ics.phporktraceability">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_phpork"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="helper.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".IntroSliderActivity"
            android:label="@string/title_activity_intro_slider"
            android:launchMode="singleInstance" />

        <activity
            android:name=".LoadSyncAll"
            android:label="@string/home"
            android:launchMode="singleTask" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/home"
            android:launchMode="singleTop" />

        <activity
            android:name=".HelpPage"
            android:label="@string/help"
            android:launchMode="singleTop" />

        <activity
            android:name=".LocationPage"
            android:label="@string/location"
            android:launchMode="singleTop"
            android:parentActivityName=".LocationPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationPage" />
        </activity>
        <!--
        <activity
            android:name=".WeaningPage"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".LocationPage">

            Parent activity meta-data to support 4.0 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationPage" />
        </activity> -->

        <activity
            android:name=".ChooseModule"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".LocationPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationPage" />
        </activity>

        <activity
            android:name=".ChooseViewHouse"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseModule">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseModule" />
        </activity>

        <activity
            android:name=".ChooseViewPen"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseViewHouse">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseViewHouse" />
        </activity>

        <activity
            android:name=".ViewListOfPigs"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseViewPen">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseViewPen" />
        </activity>

        <activity
            android:name=".ViewListOfPigs_v2"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseViewPen">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseViewPen" />
        </activity>

        <activity
            android:name=".PigWeightRecord"
            android:label="@string/weight_record"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewListOfPigs">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewListOfPigs" />
        </activity>

        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:label="@string/weight_record"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UpdatePigActivity"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewListOfPigs">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewListOfPigs" />
        </activity>

        <activity
            android:name=".ExportData"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseModule">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseModule" />
        </activity>

        <activity
            android:name=".ChooseBoarPage"
            android:label="@string/boar_parent"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".ChooseBoarEdit"
            android:label="@string/boar_parent_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".ChooseSowPage"
            android:label="@string/sow_parent"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseBoarPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseBoarPage" />
        </activity>

        <activity
            android:name=".ChooseSowEdit"
            android:label="@string/sow_parent_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".ChooseFosterSowPage"
            android:label="@string/foster_sowparent"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseSowPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseSowPage" />
        </activity>

        <activity
            android:name=".ChooseFosterSowEdit"
            android:label="@string/foster_sowparent_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".ChooseBreedPage"
            android:label="@string/breed"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseFosterSowPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseFosterSowPage" />
        </activity>

        <activity
            android:name=".ChooseBreedEdit"
            android:label="@string/breed_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".WeekFarrowedPage"
            android:label="@string/week_farrowed"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseBreedPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseBreedPage" />
        </activity>

        <activity
            android:name=".ChooseGender"
            android:label="@string/gender"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseBreedPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseBreedPage" />
        </activity>

        <activity
            android:name=".ChooseGenderEdit"
            android:label="@string/gender_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".AssignRFIDPage"
            android:label="@string/assign_rfid"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseGender">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseGender" />
        </activity>

        <activity
            android:name=".AssignRFIDEdit"
            android:label="@string/assign_rfid_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".AssignPenPage"
            android:label="@string/assign_pen"
            android:launchMode="singleTop"
            android:parentActivityName=".AssignRFIDPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AssignRFIDPage" />
        </activity>

        <activity
            android:name=".AssignPenEdit"
            android:label="@string/assign_pen_edit"
            android:launchMode="singleTop"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".LastFeedGivenPage"
            android:label="@string/last_feed"
            android:launchMode="singleTask"
            android:parentActivityName=".AssignPenPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AssignPenPage" />
        </activity>

        <activity
            android:name=".LastFeedGivenEdit"
            android:label="@string/last_feed_edit"
            android:launchMode="singleTask"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".LastMedicationGiven"
            android:label="@string/last_med"
            android:launchMode="singleTask"
            android:parentActivityName=".LastFeedGivenPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LastFeedGivenPage" />
        </activity>

        <activity
            android:name=".LastMedicationGivenEdit"
            android:label="@string/last_med_edit"
            android:launchMode="singleTask"
            android:parentActivityName=".AddThePig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddThePig" />
        </activity>

        <activity
            android:name=".AddThePig"
            android:label="@string/add_pig"
            android:launchMode="singleTask"
            android:parentActivityName=".AssignPenPage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AssignPenPage" />
        </activity>

        <!--
        <activity
            android:name=".GrowingPage"
            android:label="@string/function"
            android:launchMode="singleTop"
            android:parentActivityName=".LocationPage">

            Parent activity meta-data to support 4.0 and lower
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationPage" />
        </activity> -->

        <activity
            android:name=".ChooseSelection"
            android:label="@string/choose_sel"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseModule">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseModule" />
        </activity>

        <activity
            android:name=".ChooseFeedPage"
            android:label="@string/feed"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseModule">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseModule" />
        </activity>

        <activity
            android:name=".AddFeedPig"
            android:label="@string/feed"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".ChooseHouse"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".ChoosePen"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".ChooseByPig"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".ChooseByPen"
            android:launchMode="singleTop" >
        </activity>

        <activity
            android:name=".ChooseMedPage"
            android:label="@string/med"
            android:launchMode="singleTop"
            android:parentActivityName=".ChooseModule">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseModule" />
        </activity>

        <activity
            android:name=".AddMedPig"
            android:label="@string/med"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>